#
#
# PhantomKernel
#
CONFIG_CPU_THERMAL_IPA_CONTROL=y
CONFIG_CPU_THERMAL_IPA=y
CONFIG_ASMP=y
CONFIG_STATE_NOTIFIER=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_BLU_ACTIVE is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMANDPLUS is not set
CONFIG_CPU_FREQ_GOV_BLU_ACTIVE=y
CONFIG_CPU_FREQ_GOV_ONDEMANDPLUS=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND is not set
CONFIG_QUICK_WAKEUP=y